{{!-- <h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>

--}}



<main class="holder">
    <div class="error-container">
        <img width="100" src="/images/error-logo.png" alt="">

        <div class="error-text">
            <h2>¡Whooops!</h2>
            <h1>Page {{message}}</h1>
            <h2>ERROR  {{error.status}}</h2>

        </div>

    </div>


</main>